@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.main {

  padding: 0 15px;

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}